<h4 class="book-name"><%= book.name %></h4>

<section class="book-info">
  <p><%= book.author %></p>
  <p><%= book.genre %></p>
</section>

<section class="reviews">
  <%= reviews.each_with_index do |review, index|%>
    <p class="review-index">review.information</p>
  <% end %>
</section>